@import "utils/variables";
body {
  width: 100%;

  color: $primary-text-color;
  background-color: $primary-wight-color;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
